*.DS_Store
*.pyc
.settings/*
.project
.pydevproject
build/*
dist/*
examples/*/databases
examples/*/logs
examples/*/private
tests/databases/*
tests/logs/*
tests/private/*
tests/integration/starter_weppy/databases/*
tests/integration/starter_weppy/logs/*
tests/integration/starter_weppy/private/*
tests/integration/starter_weppy/views/*.html
tests/integration/env/
ghostdriver.log
weppy.egg-info/*

.venv/
.coverage
htmlcov/
.tox/
.eggs/
.cache/
.idea/
