*.DS_Store
*.pyc
__pycache__

*.sublime-*
.venv
.vscode

.mypy_cache
.pytest_cache

build/*
dist/*
Emmett.egg-info/*
poetry.lock
uv.lock

examples/*/databases
examples/*/logs
examples/*/private
tests/databases/*
tests/logs/*
tests/private/*
