include CHANGES LICENSE
include weppy/dal/migrations/migration.tmpl
recursive-include weppy/assets *
recursive-include docs *
recursive-include tests *
recursive-include examples *
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
