[tool.poetry]
name = "Emmett"
version = "2.4.1"
description = "The web framework for inventors"
authors = ["Giovanni Barillari <gi0baro@d4net.org>"]
license = "BSD-3-Clause"

readme = "README.md"
homepage = "https://emmett.sh"
repository = "https://github.com/emmett-framework/emmett"
documentation = "https://emmett.sh/docs"

keywords = ["web", "asyncio"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

packages = [
    {include = "emmett/**/*.*", format = "sdist" },
    {include = "tests", format = "sdist"}
]
include = [
    "CHANGES.md",
    "LICENSE",
    "docs/**/*"
]

[tool.poetry.scripts]
emmett = "emmett.cli:main"

[tool.poetry.dependencies]
python = "^3.7"
click = ">=6.0"
h11 = "~0.12.0"
h2 = ">= 3.2.0, < 4.1.0"
pendulum = "~2.1.2"
pyaes = "~1.6.1"
pyDAL = "17.3"
python-rapidjson = "^1.0"
pyyaml = "^5.4"
renoir = "^1.5"
severus = "^1.1"
uvicorn = "0.16.0"
websockets = "^10.0"

httptools = { version = "~0.3.0", markers = "sys_platform != 'win32'" }
uvloop = { version = "~0.16.0", markers = "sys_platform != 'win32'" }

orjson = { version = "~3.6.5", optional = true }
emmett-crypto = { version = "^0.2.0", optional = true }

[tool.poetry.dev-dependencies]
ipaddress = "^1.0"
pylint = "^2.4.4"
pytest = "^6.2"
pytest-asyncio = "^0.15"
psycopg2-binary = "^2.9.3"

[tool.poetry.extras]
orjson = ["orjson"]
crypto = ["emmett-crypto"]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/emmett-framework/emmett/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
