[tool.poetry]
name = "Emmett"
version = "2.2.5"
description = "The web framework for inventors"
authors = ["Giovanni Barillari <gi0baro@d4net.org>"]
license = "BSD-3-Clause"

readme = "README.md"
homepage = "https://emmett.sh"
repository = "https://github.com/emmett-framework/emmett"
documentation = "https://emmett.sh/docs"

keywords = ["web", "asyncio"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

packages = [
    {include = "emmett"},
    {include = "tests", format = "sdist"}
]
include = [
    "CHANGES.md",
    "LICENSE",
    "emmett/orm/migrations/migration.tmpl",
    "emmett/assets/**/*",
    "docs/**/*"
]

[tool.poetry.scripts]
emmett = "emmett.cli:main"

[tool.poetry.dependencies]
python = "^3.7"
click = ">=6.0"
h11 = "~0.10.0"
h2 = ">= 3.2.0, < 4.1.0"
pendulum = "~2.1.2"
pyaes = "~1.6.1"
pyDAL = "17.3"
python-rapidjson = "^1.0"
pyyaml = "^5.4"
renoir = "^1.3"
severus = "^1.1"
uvicorn = "0.13.4"
websockets = "^9.1"

httptools = { version = "~0.1.1", markers = "sys_platform != 'win32'" }
uvloop = { version = "~0.15.2", markers = "sys_platform != 'win32'" }

orjson = { version = "~3.5.1", optional = true }

[tool.poetry.dev-dependencies]
ipaddress = "^1.0"
pylint = "^2.4.4"
pytest = "^5.3"
pytest-asyncio = "^0.10"

[tool.poetry.extras]
orjson = ["orjson"]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/emmett-framework/emmett/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
