name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/emmett
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build distributions
        run: |
          uv build
      - name: Publish package to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
