name: Tests

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:

jobs:
  Linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']

    services:
      mongo:
        image: postgres:12
        env:
          POSTGRES_DATABASE: test
        ports:
        - 5432:5432

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure Poetry
      uses: gi0baro/setup-poetry-bin@v1
      with:
        virtualenvs-in-project: true
    - name: Install dependencies
      run: |
        poetry install -v --extras crypto
    - name: Test
      env:
        POSTGRES_URI: postgres:postgres@localhost:5432/test
      run: |
        poetry run pytest -v tests

  MacOS:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure Poetry
      uses: gi0baro/setup-poetry-bin@v1
      with:
        virtualenvs-in-project: true
    - name: Install dependencies
      run: |
        poetry install -v --extras crypto
    - name: Test
      run: |
        poetry run pytest -v tests

  Windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure Poetry
      uses: gi0baro/setup-poetry-bin@v1
      with:
        virtualenvs-in-project: true
    - name: Install dependencies
      shell: bash
      run: |
        poetry install -v --extras crypto
    - name: Test
      shell: bash
      run: |
        poetry run pytest -v tests
